/* Created by Vineet Kumar */
.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 100%;
	display: inline-block;
	padding: 12px 0;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #f9f6f1;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #00ba8b;
}

.shortcuts .shortcut:hover span{
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #545454;
}



/*------------------------------------------------------------------
[2. Stats / .stats]
*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
}

.stats .stat {
	display: table-cell;
	width: 30%;
	vertical-align: top;
	
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #19bc9c;
	font-size: 40px;
}

	
.big-stats-container .widget-content {
	border:0;
}

#big_stats .stat
{
	width: 100%;
	padding: 12px 0;
	text-align: center;
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
	border-radius: 5px;
}
#big_stats  b { font-size:24px; display:block; line-height: 50px; color:#b2afaa; text-transform: uppercase;}
#big_stats .stat:hover b {font: #19bc9c;}

h6.bigstats{
	margin: 20px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 26px;
	text-transform: uppercase;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 45px;
	font-weight: bold;
	color: #545454;
	line-height: 1em;
}


@media (max-width: 767px) {
    	
	#big_stats .stat
	{
		border: 1px solid #CCC;
	}
}